@font-face {
    font-family: 'main-font';
    src: url(./../fonts/Ubuntu/Ubuntu-Regular.ttf);
}
body{
    font-family: 'main-font';
    background-color: #161a28;
}
.post{
    cursor: pointer;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.post::selection{
    background-color: lightyellow;
    color: lightcoral;
}
.post:hover{
    box-shadow: 0 0 0.5rem 0.5rem gray;
}